<!--
     
  Tela dos campos de opções
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de Perguntas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form>

    <ion-item>
      <ion-label stacked>Pergunta: </ion-label>
      <ion-input placeholder="Digite a Pergunta" [(ngModel)]="pergunta.pergunta" name="pergunta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Respostas: </ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Alternativa A: </ion-label>
      <button ion-button icon-only item-end (click)="cadastroDescricaoA()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label stacked>Alternativa B: </ion-label>
      <button ion-button icon-only item-end (click)="cadastroDescricaoB()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label stacked>Alternativa C: </ion-label>
      <button ion-button icon-only item-end (click)="cadastroDescricaoC()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label stacked>Alternativa D: </ion-label>

      <button ion-button icon-only item-end (click)="cadastroDescricaoD()">

        <ion-icon name="add-circle"></ion-icon>
      </button>

    </ion-item>

    <ion-item>
      <ion-label stacked>Alternativa E: </ion-label>
      <button ion-button icon-only item-end  (click)="cadastroDescricaoE()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <ion-label stacked>Categoria: </ion-label>
      <ion-input placeholder="Digite a categoria" [(ngModel)]="pergunta.categoria" name="categoria"></ion-input>
    </ion-item>

    <div *ngIf="error.condicao" text-center margin-top>
      <p ion-text color="danger">{{error.message}}</p>
    </div>


    <div *ngIf="success.condicao" text-center margin-top>
      <p ion-text color="primary">{{success.message}}</p>
    </div>

    <div text-center margin-top>
      <button ion-button color="secondary" (click)="verificaSalvar()">Salvar</button>
    </div>


  </form>
</ion-content>